:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 2077px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.navigation {
  position: relative;
  width: 1440px;
  height: 164px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 32;
  overflow: hidden;
}
.items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 48px;
  position: absolute;
  width: 390px;
  height: 52px;
  top: 56px;
  right: 80px;
  z-index: 33;
}
.page {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.page-1 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.page-2 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 99px;
  padding: 14px 24px 14px 24px;
  cursor: pointer;
  background: #000000;
  border: none;
  z-index: 37;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.button-3 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.site-name {
  position: absolute;
  width: 95px;
  height: 30px;
  top: 67px;
  left: 80px;
  cursor: pointer;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 39;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 857px;
  margin: 110px 0 0 289px;
  padding: 10px 10px 10px 10px;
}
.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 837px;
  z-index: 1;
}
.landing-page-title {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 77px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -1.28px;
  z-index: 2;
}
.subheading {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 36px;
  color: #828282;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}
.button-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 99px;
  padding: 14px 24px 14px 24px;
  cursor: pointer;
  background: #000000;
  border: none;
  z-index: 4;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.button-5 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.image-fill {
  position: relative;
  width: 1280px;
  height: 640px;
  margin: 114px 0 0 80px;
  background: url(./assets/images/food.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
  overflow: hidden;
  border-radius: 8px;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 733px;
  margin: 120px 0 0 80px;
  z-index: 7;
}
.subheading-intro {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 44px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 625px;
  height: 36px;
  color: #828282;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.customer-quote {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 32px;
  position: relative;
  width: 1280px;
  margin: 32px 0 0 80px;
  z-index: 10;
}
.customer-quote-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 48px;
  position: relative;
  min-width: 0;
  padding: 32px 32px 32px 32px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  z-index: 11;
  border-radius: 12px;
  box-shadow: -4px 8px 20px 0 rgba(0, 0, 0, 0.1);
}
.praise {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.avatar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 149px;
  z-index: 13;
}
.avatar-7 {
  flex-shrink: 0;
  position: relative;
  width: 45px;
  height: 45px;
  background: url(./assets/images/person2.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
  border-radius: 50%;
}
.frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 88px;
  z-index: 15;
}
.name {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.description {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #828282;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.customer-quote-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 48px;
  position: relative;
  min-width: 0;
  padding: 32px 32px 32px 32px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  z-index: 18;
  border-radius: 12px;
  box-shadow: -4px 8px 20px 0 rgba(0, 0, 0, 0.1);
}
.feedback {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.avatar-a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 149px;
  z-index: 20;
}
.avatar-b {
  flex-shrink: 0;
  position: relative;
  width: 45px;
  height: 45px;
  background: url(./assets/images/person3.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
  border-radius: 50%;
}
.frame-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 88px;
  z-index: 22;
}
.name-d {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.description-e {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #828282;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.customer-quote-f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 48px;
  position: relative;
  min-width: 0;
  padding: 32px 32px 32px 32px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  z-index: 25;
  border-radius: 12px;
  box-shadow: -4px 8px 20px 0 rgba(0, 0, 0, 0.1);
}
.quote {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.avatar-10 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 149px;
  z-index: 27;
}
.avatar-11 {
  flex-shrink: 0;
  position: relative;
  width: 45px;
  height: 45px;
  background: url(./assets/images/person1.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
  border-radius: 50%;
}
.frame-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 88px;
  z-index: 29;
}
.name-13 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.description-14 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #828282;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.navigation-footer {
  position: relative;
  width: 1440px;
  height: 264px;
  margin: 120px 0 0 0;
  background: #ffffff;
  z-index: 40;
  overflow: hidden;
}
.divider {
  position: relative;
  width: 1280px;
  height: 1px;
  margin: 0 0 0 80px;
  background: url(./assets/images/border.png)
    no-repeat center;
  background-size: cover;
  z-index: 70;
}
.flex-row-e {
  position: relative;
  width: 1280px;
  height: 168px;
  margin: 47px 0 0 80px;
  z-index: 57;
}
.regroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 624px;
  height: 168px;
  top: 0;
  right: 0;
  z-index: 51;
}
.items-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 187px;
  z-index: 41;
}
.topic {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 24px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 42;
}
.page-16 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 24px;
  color: #444444;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.page-17 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 24px;
  color: #444444;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 44;
}
.page-18 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 24px;
  color: #444444;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}
.items-19 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 187px;
  z-index: 46;
}
.topic-1a {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 24px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.page-1b {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 24px;
  color: #444444;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.page-1c {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 24px;
  color: #444444;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.page-1d {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 24px;
  color: #444444;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 50;
}
.items-1e {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 187px;
  z-index: 51;
}
.topic-1f {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 24px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.page-20 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 24px;
  color: #444444;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.page-21 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 24px;
  color: #444444;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.page-22 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 24px;
  color: #444444;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.site-name-23 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 4px;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 56;
}
.social-icons {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 184px;
  height: 40px;
  top: 128px;
  left: 0;
  z-index: 57;
}
.buttons-icon {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 58;
  border-radius: 4px;
}
.icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 8px 0 0 8px;
  z-index: 59;
  overflow: visible auto;
}
.icon-24 {
  position: relative;
  width: 20px;
  height: 19.92px;
  margin: 2.04px 0 0 2px;
  background: url(./assets/images/facebooklogo.png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
}
.buttons-icon-25 {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 61;
  border-radius: 4px;
}
.icon-26 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 8px 0 0 8px;
  z-index: 62;
  overflow: visible auto;
}
.icon-27 {
  position: relative;
  width: 18px;
  height: 18px;
  margin: 3px 0 0 3px;
  background: url(./assets/images/linkedinlogo.png)
    no-repeat center;
  background-size: cover;
  z-index: 63;
}
.buttons-icon-28 {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 64;
  border-radius: 4px;
}
.icon-29 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 8px 0 0 8px;
  z-index: 65;
  overflow: visible auto;
}
.icon-2a {
  position: relative;
  width: 20px;
  height: 14px;
  margin: 5px 0 0 2px;
  background: url(./assets/images/youtubelogo.png)
    no-repeat center;
  background-size: cover;
  z-index: 66;
}
.buttons-icon-2b {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 67;
  border-radius: 4px;
}
.icon-2c {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 8px 0 0 8px;
  z-index: 68;
  overflow: visible auto;
}
.icon-2d {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 2px 0 0 2px;
  background: url(./assets/images/instagramlogo.png)
    no-repeat center;
  background-size: cover;
  z-index: 69;
}
